.mapContainer {
    height: 85vh;
    width: 100%,
}
.marker-container {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.marker-container:hover {
    z-index: 2;
}
.paper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
}
.pointer {
    cursor: pointer;
}
.weather_detail {
    width: 50px;
    height: 50px;
    background: rebeccapurple;
    border-radius: 20%;
}
.weather_detail img {
    width: 100%;
    
}